<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Placeholder Charts Landing Page</title>
</head>

<body>
  <h1>Dashboard</h1>
  <p>This Dashboard can be used as a simple navigation tool to explore the data visualization charts from the weather analysis results</p>

    <img src="templates/images/lat-temperature-plot.png" alt="Latitude Vs Temp Plot">
    <img src="templates/images/lat-humidity-plot.png" alt="Latitude Vs Temp Plot">
    <img src="templates/images/lat-clouds-plot.png" alt="Latitude Vs Temp Plot">
    <img src="templates/images/lat-wind-plot.png" alt="Latitude Vs Temp Plot">

</body>

</html>
