<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Weather Alert Home Page</title>
</head>

<body>
  <!-- Header -->
  <h1>Navigate our website to check for US weather Alerts</h1>

  <!-- Link to Map Page -->
  <strong></strong><a href="map">Interactive Weather Alert Map</a></strong>
  <br>

  <!-- Link to Charts Page -->
  <strong><a href="charts">Interactive Chart Diagrams</a></strong>
  <br>

  <!-- Image -->
  <img src="https://images.foxtv.com/static.fox26houston.com/www.fox26houston.com/content/uploads/2019/10/764/432/GFX_SEVERE_WEATHER_Large_Logo_PM_Blue_Red_HD1_Full_1460971142271_1193483_ver1.0_640_360.png?ve=1&tl=1" alt="AlertsHome">
  <br>

</body>

</html>
